@use '../../index.scss' as mixin;



.productsTableContainer {
    margin: 5rem 0;
    h2 {
        font-size: 2rem;
        color: mixin.$primary-color;
        margin: 2rem 0;
        font-weight: 500;
        text-transform: uppercase;
    }
}