@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

// variables
$primary-color : #88AAF3;
$secondary-color : #FDFDFD;
$light-gray: #dfdfdf;
$light-blue: #C5E8FF;
$header-color:#56606E;
$white : #fff;
$primary-font : 'Roboto',
sans-serif;

html {
  font-size: 10px !important;
}

a {
  text-decoration: none !important;
  font-size: 1.8rem;
}

body {
  font-family: $primary-font !important;
}


ul {
  list-style-type: none;
  padding: 0 !important;
}



.content {
  width: 100%;
  padding: 2rem;
}